<div id="category-selection">
  <div class="header">
    <span>Wybierz dowolną ilość kategorii</span>
  </div>
 <div class="categories-conainter">
   <div class="category-item" style="background-color: #518faf">
     <div class="image-wrapper">
       <img src="images/categories/cat1.png">
     </div>
   </div>
   <div class="category-item" style="background-color: #3e8c68">
     <div class="image-wrapper">
       <img src="images/categories/cat2.png">
     </div>
   </div>
   <div class="category-item" style="background-color: #ba2b43">
     <div class="image-wrapper">
       <img src="images/categories/cat3.png">
     </div>
   </div>
   <div class="category-item"  style="background-color: #564747">
     <div class="image-wrapper">
       <img src="images/categories/cat4.png">
     </div>
   </div>
   <div class="category-item" style="background-color: #edbe54">
     <div class="image-wrapper">
       <img src="images/categories/cat5.png">
     </div>
   </div>
   <div class="category-item" style="background-color: #eb9686">   
     <div class="image-wrapper">
       <img src="images/categories/cat6.png">
     </div>
   </div>
   <div class="category-item" style="background-color: #6f519e">
     <div class="image-wrapper">
       <img src="images/categories/cat7.png">
     </div>
   </div>
   <div class="category-item" style="background-color: #ce4f3a">
     <div class="image-wrapper">
       <img src="images/categories/cat7.png">
     </div>
   </div>
 </div>
</div>
