<div id="game-question" class="game-question">
  <div class="game-header">
    <div class="current-category">Symbole i legendy Warszawy</div>
    <div class="players">
      <ul class="list-unstyled">
        <li>
          <img src="images/kot.png">
          <span>3 ptk</span>
        </li>
        <li>
          <img src="images/ptak1.png">
          <span>11 ptk</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-window">
    <div class="question">Jakie barwy ma flaga warszawy?</div>
    <div class="ansers">
      <div class="anser"><button>zielono-czerwona</button></div>
      <div class="anser"><button>żółto-czerwona</button></div>
    </div>
  </div>
  <div class="game-footer">
    <div class="check-anser">
      <button>Sprawdź</button>
      <div>-&gt</div>
    </div>
  </div>
</div>
