<div id="game-confirm" class="game-confirm-container">
  <div id="selected-players">
    <ul>
      <li>
        <img src="images/kot.png" />
      </li>
    </ul>
  </div>
  <div id="play-game">
    <button class="game-play__button">GRAJ</button>
  </div>
  <div id="selected-categories">
    <ul>
      <li>
        <img src="images/kot.png">
      </li>
    </ul>
   </div>
</div>
