<div id="main">
  <section class="section player-selection"> </section>
  <section class="section categories-selection"> </section>
  <section class="section game-confirm"> </section>
  <section class="section game-main"> </section>
</div>
