<div id="player-selection">
  <div class="header">
    <span>player selection</span>
</div>
    <div class="player-conainter">
          <div class="player-item">
            <div class="image-wrapper">
              <img src="images/bocian.png">
            </div>
            <input v-model='player' v-on:change='addPlayer'/>
          </div>
          <div class="player-item">
            <img src="images/kot.png">
            <input v-model='player' v-on:change='addPlayer'/>
          </div>
          <div class="player-item">
            <img src="images/pies.png">
            <input v-model='player' v-on:change='addPlayer'/>
          </div>
          <div class="player-item">
            <img src="images/ptak1.png">
            <input v-model='player' v-on:change='addPlayer'/>
          </div>
          <div class="player-item">
            <img src="images/ptak2.png">
            <input v-model='player' v-on:change='addPlayer'/>
          </div>
          <div class="player-item">
            <img src="images/squirrel.png">
            <input v-model='player' v-on:change='addPlayer'/>
          </div>
      <div v-show="players.state.length < 6" class="player-item"><button v-on:click="addPlayer">+</button></div>
    </div>
    <div>
      <button>
        next
      </button>
    </div>
  </div>
