input {
    border: 1px solid black;
}
.player-item {
    margin: 20px;
    display: flex;
    flex-direction: column; 
}
.player-conainter {
    display: flex;
    max-width: 1024px;
    background-color: #8cd1b3;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.categories-conainter {
    display: flex;
    background-color: #8cd1b3;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 80vh;
}

.category-item {
    width: 25vw;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 20vh;
    font-size: 3em;
}
.image-wrapper {
    min-height: 332px;
    min-width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-container .image-wrapper {
    min-height: auto;
    min-width: auto;
}
.player-selection {
}

section {
    height: 100vh;
    width: 100vw;
}

.game-confirm {
    background-color: #ba2b43;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.game-confirm-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-play__button {
    border: 9px solid #6b0e1e;
    border-radius: 97px;
    font-size: 9em;
    background: transparent;
    width: 522px;
    padding: 19px;
}
.list-unstyled li {
    list-style-type: none;
    display: inline-block;
}

.game-confirm ul li img {
    max-height: 141px;
    width: auto;
}

.game-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-window {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-footer {
    height: 20vh;
    display: flex;
}

.ansers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.anser button {
    border: 3px solid #6b0ee1;
    border-radius: 97px;
    background-color: transparent;
    font-size: 2em;
    padding: 10px;
    min-width: 768px;
    margin: 30px;
}
.game-header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.players img {
    max-width: 60px;
}

.current-category {
    font-size: 3em;
}

.check-anser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.check-anser button {
    border: none;
    background-color: transparent;
    font-size: 2em;
}

.question {
    font-size: 2em;
    margin: 70px;
}
